<app-common-modal [modalConfig]="modalConfig" [formModal]="formModal">
  <div [formGroup]="formModal">
    <app-common-input
      formControlName="name"
      [fieldInfo]="{ label: 'name', name: 'name', type: 'text' }"
    ></app-common-input>

    <div class="form-group">
      <mat-form-field appearance="fill" hintLabel="Max 10 characters">
        <mat-label> Name Old (works) </mat-label>
        <input matInput type="text" formControlName="nameOld" />

        <mat-hint align="end">the/10</mat-hint>

        <mat-error
          *ngIf="
            (formModal.get('nameOld').dirty ||
              formModal.get('nameOld').touched) &&
            formModal.get('nameOld').errors &&
            formModal.get('nameOld').errors['required']
          "
          >Name Old is required.</mat-error
        >
      </mat-form-field>
    </div>
  </div>
</app-common-modal>
