<!-- <h3 mat-dialog-title>{{ modalConfig.title }}</h3>

<mat-dialog-content>
  <form>
    <ng-content></ng-content>
  </form>

  <pre>{{ formModal.value | json }}</pre>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" cdkFocusInitial (click)="onSave()">
    Save
  </button>
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions> -->

<h1 mat-dialog-title>Hi Dawood</h1>
<div mat-dialog-content>
  <p>What's your favorite animal?</p>
</div>
<div mat-dialog-actions></div>
